body {
    padding: 10px;
}
.card{
    margin: 15px auto 15px;
    height: 300px;
}

#imagewrap{
    display: flex;
    float: left;
    max-height: 100%;
    max-width: 30%;
}

#textwrap{
    margin-left: 40px;
    float: left;
    max-height: 100%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}