{%extends "auctions/layout.html"%}

{%block title%} 
    {{item.title}}
{%endblock%}

{%block body%} 
    <h1>Listing:{{item.title}}</h1>
    {%if user.is_authenticated%}
        <form method="post" action="{%url "item" item.id%}">
            {%csrf_token%}
            {%if item in watchlist%} 
                <button name="watchlist" value="False" type="submit" class="btn btn-primary btn-sm">Remove From Watchlist</button>
            {%else%}
                <button name="watchlist" value="True" class="btn btn-primary btn-sm">Watchlist</button>
            {%endif%}   
        </form>
    {%endif%}
    {%if item.image%}
        <div style="height: 300px; "><img src="{{item.image}}" class="img-fluid"></div>
    {%endif%}
    <p>{{item.description}}</p>
    <h4>${{item.price}}</h4>
{%endblock%}